	<div class="container">
    <div class="title"><h1>Artikel aanbieden</h1></div>
		<form (ngSubmit)="sell()" [formGroup]="loginForm">
            <label>Naam:</label>
            <input type="text" formControlName="naam">
            <label>Kies een categorie</label>
            <select formControlName="categorie">
                <option value="HOBBY">Hobby</option>
                <option value="MEUBILAIR">Meubilair</option>
                <option value="BOEKEN">Boeken</option>
                <option value="OVERIG">Overig</option>
              </select>
              <label>Kies een soort</label>
              <select  formControlName="soort">
                <option value="PRODUCT">Product</option>
                <option value="DIENST">Dienst</option>
              </select>
            <label>Omschrijving:</label>
            <textarea type="text" formControlName="omschrijving"></textarea>
            <label>Prijs:</label>
            <input type="text" formControlName="prijs">
			<button type="submit" id="login-button" [disabled]="!loginForm.valid">Verkoop!</button>
    </form>
  </div>